<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoCRUD2.Properties.Settings.TI2019ConnectionString"
            connectionString="Data Source=L-PCT-104\SQLEXPRESS2016;Initial Catalog=TI2019;Persist Security Info=True;User ID=sa;Password=Lab123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>